@{
    ViewData["Title"] = "Home Page";
}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Tasks List</h1>
    <p class="lead">Task List is an effective and easy way to manage your tasks. It will help you get organised and get stuff done. It's built with ASP.NET MVC Core and SQL Server.</p>
    <a asp-controller="Tasks" asp-action="Index" class="btn btn-primary btn-lg">Manage Tasks</a>
</div>
